Automation/Campaign_Research.json
{
  "name": "Campaign Research",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1060,
        80
      ],
      "id": "b23aa4c8-087d-4b8a-8427-aeb5f7003107",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"SubTargetList\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"required\": [\"Sub-Target Name\", \"Relevance\"],\n    \"properties\": {\n      \"Sub-Target Name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the entity (individual, organization, event, or location) that is a sub-target of interest.\"\n      },\n      \"Relevance\": {\n        \"type\": \"string\",\n        \"description\": \"A brief explanation of why this sub-target is relevant or strategically important.\"\n      }\n    },\n    \"additionalProperties\": false\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        300,
        80
      ],
      "id": "e3fc8900-87d4-4151-b2a7-885880ec135f",
      "name": "Information Extractor",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        80
      ],
      "id": "5735d794-a8e0-4fdf-ab7a-44d4ac51e3a6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Objective\n\nYou are tasked with synthesizing findings from multiple detailed sub-target reports into a single, cohesive, and professional report about the primary target. The report must include only confirmed, available data, and strictly exclude any mention of missing, unavailable, or speculative information. If no data is available for a particular section, omit that section entirely. The focus is on presenting factual findings without placeholders or references to gaps in data. You must also include ALL of the links you find during your research and reference them in relation to the claims you make.\n\nYour goal is to create a detailed report that integrates findings from the sub-targets into a broader understanding of the primary target in order to help animal advocates campaign against the primary target. You must ensure that you include in-line citations for all claims with the URL that validates the claim in the footnores.\n\n## Report Structure\n\n1. Introduction\n\nClearly outline the purpose of the report: to support campaigns against the target by exposing harmful practices and suggesting a range of tactics.\n\nProvide a brief overview of the primary target and its network, emphasizing its role in perpetuating harm.\n\nHighlight the range of campaign tactics included against both primary and sub-targets, from moderate public awareness initiatives to radical direct action.\n\n3. Insights for Campaigns\n\n3.1 Primary Target\n\nWho They Are: Briefly summarize the target, including name, web domain, and key activities.\n\nWhy They Matter: Explain their connection to harmful practices and their relevance to advocacy campaigns.\n\nWhat We Found: Highlight controversies, legal challenges, or ethical concerns (e.g., lawsuits, harmful activities, or controversial partnerships).\n\nExploitable Vulnerabilities: Identify weaknesses that can be targeted (e.g., reputational issues, regulatory scrutiny, public relations risks).\n\nCampaign Opportunities:\n\nModerate Tactics that can be used directly against the primary target, such as public awareness and petitions.\n\nEscalated Tactics that can be used directly against the primary target, such as boycotts and protests.\n\nRadical Tactics that can be used directly against the primary target, such as direct action, disruptive protests and civil disobedience.\n\n3.2 Sub-Targets\n\nWho They Are: Summarize each sub-target, including name, web domain, and key activities. Highlight controversies, legal challenges, or ethical concerns (e.g., lawsuits, harmful activities, or controversial partnerships).\n\nRelevance to Primary Target: Explain their relevance to the primary target in detail. For example, don't just describe them as having a \"partnership, explain the exact details of the partnership. \n\nExploitable Vulnerabilities: Identify weaknesses that can be targeted to put pressure on the sub-target to affect their relationship with primary one (e.g., reputational issues, regulatory scrutiny, public relations risks).\n\nCampaign Opportunities:\n\nModerate Tactics that can be used on the sub-target in order to put pressure on the primary target\n\nEscalated Tactics that can be used on the sub-target in order to put pressure on the primary target\n\nRadical Tactics that can be used on the sub-target in order to put pressure on the primary target\n\n\n3. Strategic Recommendations\n\nSummarize key themes and opportunities identified in the insights and analysis sections.\n\nSuggest high-impact strategies tailored to the primary and sub target’s specific vulnerabilities.\n\n4. Contact Information\nProvide detailed contact information for the primary and sub-targets:\n\nEmail addresses\nPhone numbers\nPhysical addresses\nSocial media links\nOutput Guidelines\n\n5. Citations in Footnotes\n\nA list of all URLs referenced in the report\n\n## Overall Guidelines:\n\nPrioritize Usability: Write in an engaging, non-repetitive style. Use varied structures to enhance readability.\n\nBe Campaign-Focused: Include only the most relevant information for advocacy efforts.\n\nShow a Range of Options: Offer a spectrum of tactics for each target, from moderate to radical.\n\nExclude Speculative or Placeholder Content: Use only confirmed data and omit sections without available information.\n\nUse Strategic Organization: Group related targets together to streamline interconnected opportunities or challenges.\n\nInclude All Links: Reference all sources for the claims made, including URLs.\n\n## Example Tone and Style\n\nInstead of listing rigid details:\n\n\"Elanco Animal Health develops products like pharmaceuticals and vaccines. It has faced a securities fraud lawsuit regarding product safety.\"\n\nWrite conversationally and strategically:\n\n\"Elanco Animal Health, a major player in the industry, has been embroiled in a securities fraud lawsuit over product safety—an opportunity for advocacy groups to challenge their credibility and press for greater transparency.\"\n\n#### Important Guidelines\n\nOnly include confirmed, available data. Do not include speculative statements, placeholders, or any mention of missing or unavailable information.\n\nIf no data is available for a specific section or sub-section, omit that section entirely.\n\nUse plain text only, avoiding all special formatting such as asterisks, hashtags, or markdown symbols.\n\nThe output should focus solely on presenting factual findings, avoiding any commentary or speculative insights about data gaps.\n\nYou must also include ALL of the links you find during your research and reference them in relation to the claims you make.\n\n#### Output Requirements\n\n###### Thoroughness:\nCover all required categories, including all information discovered. Include ALL links found during research with in-line citations and URLs in footnotes.\n\n###### Clarity:\nStructure the report with clear headings, bullet points, and concise descriptions.\n\n###### Relevance:\nFocus on connections between the sub-targets and primary target.\n\n# IMPORTANT: DO NOT INCLUDE ANIMAL WELFARE GROUPS, GENERIC CATEGORIES OF ORGANISATIONAL TYPES OR LOOSELY RELEVANT INDIVIDUALS OR GROUPS AS SUB-TARGETS\n\nThe sub-targets must include the very specific names of individuals or organisations that are directly involved with the primary target. There needs to be a very clear, proven and direct link between the primary target and sub target, a hypothetical loose connection is not good enough.\n\nNEVER INCLUDE ANY ANIMAL WELFARE ORGANISATION AS A SUB-TARGET, SUB-TARGETS ARE THOSE WE ARE CAMPAIGN AGAINST, NOT THOSE WHO ARE ALLIES IN THE CAMPAIGN.\n\n# IMPORTANT: Carefully consider the nature of the campaign and the type of information we're looking for, as described below. Only include relevant information and remove any irrelant noise.\n\nALWAYS BE HIGHLY SPECIFIC, NEVER GENERIC\n\n## Inputs for Your Report\n\n## User Query\n\n{{ $('When Executed by Another Workflow').item.json.query }}\n\n## Sub-Target Reports:\n\n{{ JSON.stringify($json.data.map(item => item.output)) }}\n\nCRITICAL: \nYOUR RESPONSE MUST:\nSTART WITH <!DOCTYPE html>\nCONTAIN NOTHING ELSE EXCEPT RAW HTML\nNO MARKDOWN\nNO EXPLANATION\nNO PREFIXES OR SUFFIXES\nJUST THE RAW HTML"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1240,
        80
      ],
      "id": "513a0a48-4fba-433e-a218-147e9a7be462",
      "name": "Write Final Report",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        280,
        280
      ],
      "id": "ca9ce918-ef99-4de4-972f-6888eba6f84a",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "QqgKARn52qQiKICN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1220,
        280
      ],
      "id": "5c2e0594-b94d-421b-87b9-e678aff887bf",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "QqgKARn52qQiKICN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        80
      ],
      "id": "4e02b862-d3b3-4181-9f71-6ff9299ac5f0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k053fXGjIF7dUIQZ",
          "mode": "list",
          "cachedResultName": "General Tools Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "=# Overview  You are the Discovery Agent in a multi-agent system tasked with uncovering actionable insights about companies, individuals, entities, and other relevant targets associated with animal exploitation. Your mission is to conduct extensive research and produce an output with at 30-50 of the most important and vulnerable sub-targets the campaign should focus on, spanning a variety of categories such as organizations, individuals and affiliations.  This task requires systematic and repeated use of all tools to ensure comprehensive coverage.\n\n### Identify at Least 30-50 of the most important and vulnerable sub-targets the campaign should focus on \n\nFrom the data collected, identify 30-50 of the most important and vulnerable sub-targets the campaign should focus on that are directly or indirectly connected to the primary target. Sub-targets must have a clear relevance to the primary target, such as being involved in its operations, influencing its activities, or being affected by its actions. These connections could be through business relationships, collaborations, shared controversies, or any other significant association. One of the \"sub-targets\" should always be the primary target themselves, so that the next research agent can evaluate them in-depth.  Sub-targets can be drawn from the following categories:  \n\n#### Organizations  \n\n##### Companies:  \n\nParticipants, sponsors, buyers, sellers, partners, or affiliates of the primary target. \n\n##### Individuals  \n\nKey Personnel: Executives, board members, organizers, or prominent employees of the primary target.  \n\n##### Related Individuals:  \n\nFamily members, known associates, or community figures that are directly linked to the primary target.  \n\n##### Programs or Initiatives  \n\n###### Internal Programs:  \n\nResearch projects, technological programs, or outreach campaigns directly run by the primary target.  \n\n###### Collaborative or External Initiatives:  \n\nFunding initiatives, partnerships, or collaborations that directly involve the primary target.  \n\n##### Controversies or Issues  \n\n###### Legal and Ethical Concerns:  \n\nLegal disputes, lawsuits, or ethical controversies directly involving the primary target.  \n\n###### Operational Challenges:  \n\nRegulatory challenges, labor issues, environmental impacts, or cybersecurity vulnerabilities directly involving the primary target.  \n\n##### Other Relevant Entities  \n\n###### Affiliations and Partnerships:  \n\nIndustry associations, partnerships, or collaborative networks that directly include the primary target.  \n\n#### Guidelines for Relevance  \n\nEach sub-target must have a clear and specific connection to the primary target, such as:  \n\nOperational Relationship: Direct involvement in the primary target’s supply chain, production, distribution, or financing. Shared \n\nControversies: Legal, ethical, or operational controversies that directly involve both the sub-target and the primary target. \n\nCollaborative Efforts: Partnerships, initiatives, or campaigns that both the sub-target and the primary target are direct participants in.  Make it clear in the relevance field of each JSON object how the sub-target relates to the primary target, providing evidence from your findings.  \n\n### Requirements  \n\n30-50 Sub-Targets: Ensure your output includes 30-50 distinct sub-targets across the outlined categories. \n\nThorough Research: ensure tools are used extensively, with at least 20 uses across the investigation. \n\nValidation and Completeness: Ensure each sub-target is actionable and supported by robust evidence. \n\nProfessional Presentation: Output must be structured as an array of JSON objects, with clear and concise entries for each sub-target.  \n\n# IMPORTANT: DO NOT INCLUDE ANIMAL WELFARE GROUPS, GENERIC CATEGORIES OF ORGANISATIONAL TYPES OR LOOSELY RELEVANT INDIVIDUALS OR GROUPS AS SUB-TARGETS  \n\nThe sub-targets must include the very specific names of individuals or organisations that are directly involved with the primary target. There needs to be a very clear, proven and direct link between the primary target and sub target, a hypothetical loose connection is not good enough.  \n\nNEVER INCLUDE ANY ANIMAL WELFARE ORGANISATION AS A SUB-TARGET, SUB-TARGETS ARE THOSE WE ARE CAMPAIGN AGAINST, NOT THOSE WHO ARE ALLIES IN THE CAMPAIGN.  ALWAYS BE HIGHLY SPECIFIC, NEVER GENERIC.\n\n## User Query  \n\n{{ $json.query }}\n\n\n### Structured and Detailed Output  \n\nYour output must include at 30-50 unique JSON objects, one for each sub-target. \n\nEach JSON object must contain:  \n\nTarget Name: The name of the company, individual, program, or issue. \n\nRelevance: A concise explanation of why this is a significantly relevant sub-target.  \n\n#### Example Output:  \n\n{     \"target\": \"ADM\",     \"relevance\": \"Major participant in the Animal AgTech Summit with a history of controversies in animal welfare and environmental sustainability, making it a critical subject for further investigation.\"   }    \n\n## IMPORTANT: You must return 30-50 sub-targets in your final response, do not give a final response until you have this many sub-targets. One of the \"sub-targets\" should always be the primary target themselves, so that the next research agent can evaluate them in-depth. ",
            "sessionId": "={{ (Math.random().toString(36).substring(2) + Date.now().toString(36)) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        100,
        80
      ],
      "id": "a6e28a2f-bc0d-479a-a3cf-095c1b220e64",
      "name": "Find Sub-Targets"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k053fXGjIF7dUIQZ",
          "mode": "list",
          "cachedResultName": "General Tools Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ (Math.random().toString(36).substring(2) + Date.now().toString(36)) }}",
            "chatInput": "=# Overview:\n\nYou are the Report Generation Agent in a multi-agent system tasked with conducting in-depth research on a given sub-target. Your mission is to synthesize findings into a detailed, professional, and actionable report that captures all available information, validates data thoroughly, and identifies gaps to fill with follow-up research. You will then present this report in a way that explains both the details you uncover about the sub-target and how it links to the primary target. You must also include ALL of the links you find during your research and reference them in relation to the claims you make.\n\n## Instructions:\n\n### 1. Perform Comprehensive Research\n\nUse available tools strategically to gather key details about the sub-target. Focus on quality over quantity in your research approach.\n\n#### Research Strategy (IMPORTANT):\n- Make no more than 10 tool calls total across all research categories\n- Prioritize the most relevant tools based on the sub-target type (organization vs individual)\n- Use each tool call to gather maximum information (use broad queries first, then specific)\n- If you reach 8 tool calls and still have major information gaps, summarize what you've found and what's still missing\n\n#### Serper API Queries:\n- Begin with 1-2 broad searches about the sub-target to establish baseline information\n- Use 1-2 targeted searches to fill specific knowledge gaps identified from initial research\n- Prioritize search and news endpoints for general information\n\n#### Contact and Online Presence Discovery:\n- After establishing basic information, use 1-2 tool calls to identify key contact points and online profiles\n- Focus on official channels and verified accounts\n\n#### URL and Content Analysis:\n- Use 1-2 tool calls to identify and analyze the most authoritative sources about the sub-target\n- Prioritize official websites, verified social media, and reputable third-party sources\n\n### 2. Organize Findings into a Professional Report\n\nStructure all collected data into a clear, detailed, and actionable report. Include every piece of information you uncover, ensuring nothing is omitted.\n\nThe report must include the following sections:\n\n#### Introduction:\nIdentify the sub-target and explain its relevance to the primary target.\n\n#### Summary:\nProvide a high-level overview of the findings, including why the sub-target is significant and key themes from your research.\n\n#### Detailed Findings:\nInclude all information discovered across these categories, clearly noting any areas where information could not be found:\n\n##### For Organizational Sub-Targets:\n- Basic Information (Company Name, Legal Name(s), Web Domain(s))\n- Contact Details (Email Addresses, Phone Numbers, Mailing Addresses)\n- Online Presence (Social Media URLs)\n- Operational Insights (Key Products/Services, Facilities, Employee Count)\n- Affiliations and Ecosystem (Partners, Suppliers, Industry Associations)\n- Legal and Financial Data (Lawsuits, Lobbying Activities)\n- Other Key Areas (Media Coverage, Tech Stack)\n\n##### For Individual Sub-Targets:\n- Basic Information (Full Name, Aliases, Age, Nationality)\n- Contact Details (Email Addresses, Phone Numbers, Addresses)\n- Online Presence (Social Media Profiles)\n- Professional Background (Employment History, Board Memberships)\n- Legal and Public Data (Lawsuits, Public Statements)\n- Affiliations and Relationships (Associates, Organizations)\n- Other Key Areas (Media Coverage, Activities)\n\n### 3. Final Verification\n\nBefore completing the report:\n- Validate all findings for accuracy and relevance\n- Link the sub-target specifically to the primary target\n- Ensure all sources are properly cited with full URLs\n\n#### Output Requirements\n\n###### Thoroughness:\nCover all required categories, including all information discovered. Include ALL links found during research with in-line citations and URLs in footnotes.\n\n###### Clarity:\nStructure the report with clear headings, bullet points, and concise descriptions.\n\n###### Relevance:\nFocus on connections between the sub-target and primary target.\n\n### Sub-Target Information:\n\nSub-Target: {{ $json['Sub-Target Name'] }}\nRelevance to Primary Target: {{ $json.Relevance }}\n\n## User Query\n\n{{ $('When Executed by Another Workflow').item.json.query }}\n\n## IMPORTANT: Balance thoroughness with efficiency. Make no more than 10 tool calls total. Focus on gathering the most critical information first, then use remaining calls to fill gaps.\n\n## Tool usage guidelines: Make a MAXIMUM of 10 tool calls. Prioritize quality over quantity in your research. If you reach the limit, summarize what you've found and what information is still missing.\n\nALWAYS BE HIGHLY SPECIFIC, NEVER GENERIC\n\n## Begin your investigation and produce the final report."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        840,
        80
      ],
      "id": "1f4fe264-a688-49e3-bea5-13918b8edcd1",
      "name": "Investigate Sub-Targets"
    },
    {
      "parameters": {
        "content": "## Connect the \"general tools agent\" workflow \nFirst, import the following workflow into your n8n instance: https://github.com/Open-Paws/Open-Paws-Documentation/blob/main/Automation/General_Tools_Agent.json\n\nNext, connect the \"Find Sub-Targets\" and \"Investigate Sub-Targets\" nodes to the newly imported workflow",
        "height": 180,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        -160
      ],
      "typeVersion": 1,
      "id": "02f71621-bd86-43fe-bc86-c047ce00791a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Add OpenRouter API key \nAdd your credentials to the OpenRouter chat model nodes for access to LLMs",
        "height": 180,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -160
      ],
      "typeVersion": 1,
      "id": "c1443ead-a1ba-471a-a128-148794fa0620",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Reported outputted in HTML \nThe final step of this workflow will write the research report in HTML format. You can then send this report through an email node or publish it as a Gist using the following workflow: https://github.com/Open-Paws/Open-Paws-Documentation/blob/main/Automation/Publish_HTML_as_Gist.json",
        "height": 180,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        -160
      ],
      "typeVersion": 1,
      "id": "1689aaa2-f7ef-4313-b9bc-7aaaafce6fcf",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Write Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Investigate Sub-Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Final Report": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Write Final Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Find Sub-Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Sub-Targets": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Investigate Sub-Targets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b466c73d-3ec5-4bd6-95b9-c93ccdc2304a",
  "meta": {
    "instanceId": "26bd595441827fb23edb0643d6d240e79b0b8993d278e90950f16e18bf9e3c4a"
  },
  "id": "6qo2GiBBPCMMBygR",
  "tags": []
}