Automation/Publish_HTML_as_Gist.json
{
  "name": "Publish HTML as Gist",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/gists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            },
            {
              "name": "Authorization",
              "value": "INSERT-YOUR-API-KEY-HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"description\": \"Auto-rendered HTML\",\n  \"public\": false,\n  \"files\": {\n    \"report.html\": {\n      \"content\": {{ JSON.stringify($json.html) }}\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        -20
      ],
      "id": "18644ad9-caf2-44e3-af38-5b23ef599f32",
      "name": "Create Gist",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "html"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3560,
        -20
      ],
      "id": "c53a9dfe-b39a-4665-8e5a-5d9479fae825",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1627b23c-18a5-4180-ac01-534e65172481",
              "name": "URL",
              "value": "={{ \"https://htmlpreview.github.io/?\" + $json.files[\"report.html\"].raw_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3980,
        -20
      ],
      "id": "c186c32a-6d54-4b3f-8794-06319284f17f",
      "name": "Set URL"
    },
    {
      "parameters": {
        "content": "## Add GitHub API key to \"Create Gist\" node\nFirst, add your API key to the auth header in the create gist node.\n\nThen, you can pass HTML reports into this workflow as the input and receive a URL where the HTML is displayed as the output.",
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3560,
        -220
      ],
      "typeVersion": 1,
      "id": "78d6b93f-6263-4970-acd4-f5ad82e02f56",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Gist": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Gist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db33c5a8-eabc-4c7d-b33a-15e65950cffb",
  "meta": {
    "instanceId": "26bd595441827fb23edb0643d6d240e79b0b8993d278e90950f16e18bf9e3c4a"
  },
  "id": "rV8gd5QJRjIAoO3v",
  "tags": []
}